.contact-tab {
	position: absolute !important;
	right: 0 !important;
}

.MuiTabs-flexContainer {
	background-color: #0477bf;
	color: white;
}

.MuiToolbar-root {
	background-color: #0477bf;
}

.list-1 {
	background-color: #0477bf !important;
	color: white;
}

.makeStyles-drawerHeader-8 {
	color: #f2380f !important;
}

.tab {
	transition: all 0.3s;
}

.tab:hover {
	color: #f2380f;
}

.logo {
	position: absolute;
	left: 0;
	font-size: large;
	padding-top: 0.8rem;
	padding-left: 2rem;
	font-family: 'Roboto', sans-serif;
}

.MuiTabs-flexContainer {
	padding: 0.5rem;
}
